# Created by .ignore support plugin (hsz.mobi)
/TZAYTZAN/css/
/TZAYTZAN/_css/
/.idea/bootcamp-exercises-haggaimeltzer.iml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/$PRODUCT_WORKSPACE_FILE$
