#navBar{
    display: flex;
    flex-direction: column;
    min-width: 15em;
    justify-content: left;
}

.nav-item {
    font-size: 1.5em;
    font-weight: bold;
    height: 1em;
    color: black;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    text-decoration: none;
    border-radius: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    line-height: 0.17em;
    width: fit-content;
    width: -moz-fit-content;
}

.nav-item:hover{
    background-color: rgb(224, 235, 255);
}

.nav-icon {
    height: 1em;
    width: 1em;
    
}
.svg.nav-icon:hover{
    /* fill: cornflowerblue;             */
    filter: invert(.5) sepia(1) saturate(5) hue-rotate(175deg);
}
.nav-item:hover .svg.nav-icon{
    /* fill: cornflowerblue;             */
    filter: invert(.5) sepia(1) saturate(5) hue-rotate(175deg);
}

#twIcon {
    height: 2em;
    width: 2em;
    margin-left: 0.6em;
    /* fill: cornflowerblue; */
    filter: invert(.5) sepia(1) saturate(5) hue-rotate(175deg);
}
.twit-btn {
    font-size: 1.125em;
    text-align:center;
    line-height: 2.8em;
    align-items: center;
    height: 2.8em;
    width: 11em;
    background-color: cornflowerblue;
    color: white;
    border-radius: 1.4em;
    
}
.twit-btn:hover{
    cursor: pointer;
    background-color: royalblue;
}
.avatar{
    border-radius: 50%;
    border: royalblue;
}
