.tweet-form {
    display: flex;
    flex-direction: column;
    width: -moz-available;
    /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;
    /* Mozilla-based browsers will ignore this. */
    width: fill-available;
}

.tweet-input {
    height: 4em;
    width: -moz-available;
    /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;
    /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    margin: 0.6em;
}

.tweet-form-buttons {
    width: -moz-available;
    /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;
    /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.6em;
}

.tweet-form-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tweet-form-option {
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.tweet-form-icon-contrainer {
    padding: 0.6em;
}

.tweet-form-icon {
    height: 1.4em;
    width: 1.4em;
    filter: invert(.5) sepia(1) saturate(5) hue-rotate(175deg);
}

.tweet-form-icon-contrainer:hover {
    background-color: rgb(224, 235, 255);
    border-radius: 50%;
    cursor: pointer;
}

.tweet-form-submit-btn {
    font-size: 1.125em;
    text-align: center;
    line-height: 2em;
    align-items: center;
    height: 2em;
    background-color: cornflowerblue;
    color: white;
    border-radius: 1.4em;
    border-width: 0px;
    padding-left: 0.7em;
    padding-right: 0.7em;
}

.tweet-form-submit-btn:hover {
    cursor: pointer;
    background-color: royalblue;
}